# Cadena para la app (debe coincidir con POSTGRES_* si usas Docker Compose)
DATABASE_URL=postgresql://iluminacion:dev_change_me@localhost:5432/iluminacion_hernandez

# Solo para compose.yaml (postgres)
POSTGRES_USER=iluminacion
POSTGRES_PASSWORD=dev_change_me
POSTGRES_DB=iluminacion_hernandez
POSTGRES_PORT=5432
BETTER_AUTH_SECRET=genera_un_secreto_de_al_menos_32_caracteres
BETTER_AUTH_URL=http://localhost:3000
TRUSTED_ORIGINS=http://localhost:3000,http://localhost:4200,http://localhost:4321
PORT=3000
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:4200,http://localhost:4321
